<div class="section_marketing">
  <h1 translate>WELCOME.WELCOME</h1>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text" translate>WELCOME.BULLET_1</div>
    </div>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text" translate>WELCOME.BULLET_2</div>
    </div>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text" translate>WELCOME.BULLET_3</div>
    </div>
    <!--<div id="powered_by_seed" class="powered_by_seed">
        <div class="powered_by">Powered by:</div>
        <div class="logo_seed">
            <img src="{{STATIC_URL}}seed/images/DOE-SEED-Logo_v4.jpg" alt="SEED Platform" title="SEED Platform" height="60" onerror="hidePoweredBy(this);">
        </div>
    </div>-->
</div>

<!--<script>
    function hidePoweredBy(image){
        $("#powered_by_seed").hide();
    }
</script>-->