{% load i18n %}{% autoescape off %}

<img src="{{ protocol }}://{{ domain }}{{STATIC_URL}}seed/images/seed_logo.png"/>

<p>
{% trans "You're receiving this email because you requested a password reset" %}
{% blocktrans %}for your SEED Platform™ user account{% endblocktrans %}.
</p>

<p>
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url "landing:password_reset_confirm" uidb64=uid token=token %}
{% endblock %}
</p>

<p>
{% trans "Your username, in case you've forgotten:" %} <a href="mailto:{{ user.email }}">{{ user.email }}</a>
</p>

<p>
{% blocktrans %}If you did not request this password reset, you can ignore this email.{% endblocktrans %}
</p>

<p>
{% blocktrans %}If you need any additional support, let us know!{% endblocktrans %}
</p>

<p>
{% blocktrans %}The GRID support team{% endblocktrans %}
</p>

<p>
{% blocktrans %}OPEN Technologies{% endblocktrans %}
</p>

<img src="{{ protocol }}://{{ domain }}{{STATIC_URL}}seed/images/grid_logo.png"/>

{% endautoescape %}
